<?xml version="1.0" encoding="UTF-8" ?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id = "com.hdubapp.app"
		versionCode="1"
		version = "1.0.0">

	<name>hDub</name>

	<description>
		An Application for students of WGC to view their timetable information and record details of homework tasks
	</description>

	<author href="https://www.kwiius.com" email="jamie@kwiius.com">
		Jamie McClymont, Kwiius
	</author>

	<preference name="phonegap-version" value="2.2.0" />
	<preference name="orientation" value="portrait" />
	<preference name="target-device" value="universal" />
	<preference name="fullscreen" value="false" />
	<preference name="webviewbounce" value="false" />
	<preference name="prerendered-icon" value="true" />
	<preference name="stay-in-webview" value="false" />
	<preference name="ios-statusbarstyle" value="default" />
	<preference name="detect-data-types" value="false" />
	<preference name="exit-on-suspend" value="false" />
	<preference name="show-splash-screen-spinner" value="true" />
	<preference name="auto-hide-splash-screen" value="true" />

	<icon src="icons/IconiPhone.png" gap:platform="ios" width="57" height="57" />
	<icon src="icons/IconiPad.png" gap:platform="ios" width="72" height="72" />
	<icon src="icons/IconiPhoneR.png" gap:platform="ios" width="114" height="114" />
	<icon src="icons/IconiPadR.png" gap:platform="ios" width="144" height="144" />

	<icon src="icons/IconAldpi.png" gap:platform="android" gap:density="ldpi" />
	<icon src="icons/IconAmdpi.png" gap:platform="android" gap:density="mdpi" />
	<icon src="icons/IconAhdpi.png" gap:platform="android" gap:density="hdpi" />
	<icon src="icons/IconAxhdpi.png" gap:platform="android" gap:density="xhdpi" />

	<gap:splash src="splashes/SplashiPhone.png" gap:platform="ios" width="320" height="480" />
	<gap:splash src="splashes/SplashiPhoneR.png" gap:platform="ios" width="640" height="960" />
	<gap:splash src="splashes/SplashiPhone5.png" gap:platform="ios" width="640" height="1136" />
	<gap:splash src="splashes/SplashiPad.png" gap:platform="ios" width="768" height="1024" />
	<gap:splash src="splashes/SplashiPadR.png" gap:platform="ios" width="1536" height="2048" />
	
	<gap:splash src="splashes/SplashLDPI.png" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="splashes/SplashMDPI.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="splashes/SplashHDPI.png" gap:platform="android" gap:density="hdpi" />
	<gap:splash src="splashes/SplashXHDPI.png" gap:platform="android" gap:density="xhdpi" />
</widget>